
language: cpp

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

env:
  - BUILD_TYPE=RelWithDebInfo
  - BUILD_TYPE=Release
  
matrix:
  exclude:
    - compiler: gcc
      os: osx

before_install:
  - sh projects/scripts/travis-install.sh

install:
  - cd projects
  - cmake -GUnix\ Makefiles -HCMake -Bbuild -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX
  - cd build
  - make -j4
  - cd ../..

script:
  - cd projects/build
  - ctest -V
  - cd ..

branches:
  only:
    - master

notifications:
  recipients:
    - kirk.shoop@microsoft.com
  email:
    on_success: change
    on_failure: always
